body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.intro{
    top: 0;
}
.logo{
    margin-top: 61px;
    font-size: 80px;
    line-height: 94px;
    font-family: 'Roboto', sans-serif;
}

.logo_link{
    text-decoration: none;
}

.logo1{
    color: #000000;
}
.logo2{
    color: #3181A6;
}


.navigation{
    display: flex;
    margin-top: 38px;    
    align-items: center;
    width: 100%;
    height: 72px;
    background-color:#35444F;
}

.navigation-list{
    display: flex;
    flex-direction: row;
}

.nav-link-a{
    font-size: 24px;
    line-height: 28px;
    padding: 21px 40px 22px;
    border-left: 1px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    background-color:#35444F;
    transition: background-color 0.5s ease-in-out;
}
.navigation-list:first-child{
    margin-left: 162px;
}
.nav-link-a:hover{
    background-color: #222F3A;
}

.information{
    display: flex;
    margin-top: 50px;
}

.left_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 344px;
    height: 399px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid #000000;
    background-color:rgba(0,0,0,0.0001);
}

.menu_elements{
    padding: 26px 51px;
    color: #485863;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 1s linear, color 1s linear;
}

.menu_elements:hover{
    background-color: #DBDBDB;
    color: #35444F;
}

.contant{
    margin-left: 52px;
}

.photo_place{
    display: flex;
    justify-content: center;
    max-width: 889px;
    align-items: center;
    height: 529px;
    border: 1px solid #000000;
    overflow: hidden;
}

.simbol{
    transition: transform 1s ease-in-out;
}

.photo_place:hover img{
    transform: scale(1.2);
}

.content_text{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
    color: #2C2C2C;
    font-style: normal;
    font-weight: normal;
}

.ru{
    margin-top: 37px;
}

.en{
    margin-top: 34px;
}

.bottom_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    margin-top: 54px;
    padding: 0 40px;
    margin-bottom: 30px;
}

.bottom_panel{
    display: flex;
    justify-content: space-around;
}

.bottom_menu_elements{
    padding: 8px 0 8px 0;
    display: flex;
    text-decoration: none;
    margin-right: 40px;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease-in-out, color 0.5s ease-in-out;
}

.bottom_menu_elements:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copy{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
}
